{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/newcountry.css">

<h1>Edit Country</h1>

<form action="/countries/{{country.id}}" method="post">
<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{country.name}}" required>
</div>
<div>
    <label for="capital">Capital</label>
    <input type="text" id="capital" name="capital" value="{{country.capital }}" required>
</div>
<div>
    <label for="continent">Continent</label>
    <input type="text" id="continent" name="continent" value="{{country.continent }}" required>
</div>

<div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited" autofocus>
        <option value="true" {% if country.visited == True %} selected="selected" {% endif %}>Yes</option>
        <option value="false" {% if country.visited == False %} selected="selected" {% endif %}>No</option>
    </select>
</div>
<div>
    <label for="plan">Change of Plan?</label>
    <input type="text" id="plan" name="plan" value="{{country.plan }}" required>
</div>


<div>
<button class="btnadd" type="submit">Update Country</button>
</div>
</form>

{% endblock %}