{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/countries.css">


<h1>Countries</h1>

<h3 class="btn--wrapper">
    <a class="btn btn--action" href="/countries/new">Add New Country</a>
</h3>

<table>
  <tr>
    <th>Country</th>
    <th></th>
    <th>Capital</th>
    <th></th>
    <th>Have I Been?</th>
  </tr>

  {% for country in countries %}
  <tr>
    <td><a href="/countries/{{ country.id }}"> {{country.name}} </a></td>
    <td>|</td>
    <td>{{ country.capital }}</td>
    <td>|</td>
    <td>{{ country.visited }}</td>
    <td><form class="delete-form" action="/countries/{{ country.id }}/delete" method="POST"><input class="delete" type="submit" value="Remove"></form></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
