{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/show.css">

<div>
    <h1>{{country.name}}</h1>
    <hr>
    <h3>{{country.capital}}</h3>
    <p>{{country.continent}}</p>
    <p>Have I been yet?:</p>
    {% if country.visited == True %}
    <p>Yes!</p>
    {% else %}
    <p>Not yet!</p>
    {% endif %}
    <p>What's the plan? {{country.plan}}</p>
    <div class="edit">
    <p><a class="btn" href="/countries/{{country.id}}/edit">Edit</a></p>
    </div>

    {% if country.name == "Italy" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg" width=400>
        </div>
{% elif country.name == "Canada" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg" width=400>
        </div>
{% elif country.name == "Portugal" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg" width=400>
        </div>
{% elif country.name == "Spain" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg"width=400>
        </div>
{% elif country.name == "Sweden" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg" width=400>
        </div>
{% elif country.name == "Ireland" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg" width=400>
        </div>
{% elif country.name == "Morocco" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg"width=400>
        </div>
{% elif country.name == "Japan" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg"  width=400>
        </div>
{% elif country.name == "Slovenia" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg" width=400>
        </div>
{% elif country.name == "Chile" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg"width=400>
        </div>
{% elif country.name == "Hungary" %}
        <div class="img">
            <img src="/static/imgs/{{country.name}}/{{country.name}}.jpeg"width=400>
        </div>
</div>
</div>
{% endif %}
{% endblock %}