{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/cities.css">

<h1>Cities</h1>

<h3 class="btn--wrapper">
    <a class="btn btn--action" href="/cities/new">Add New City</a>
</h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Visited</th>
  </tr>

  {% for city in cities %}
  <tr>
    <td><a href="/cities/{{ city.id }}"> {{city.name}} </a></td>
    <td>|</td>
    <td>{{ city.visited }}</td>
    <td><form class="delete-form" action="/cities/{{ city.id }}/delete" method="POST"><input class="delete" type="submit" value="Delete"></form></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}


