{% extends "base.html" %}
{% block content %}

<form action="/cities" method="post">
<div>
    <label for="name">City</label>
    <input type="text" id="name" name="name" placeholder="name" required autofocus>
</div>
<div>
    <label for="sight">Sight</label>
    <input type="text" id="sight" name="sight" placeholder="sight" required>
</div>

<div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
</div>

<div>
    <label for="country">Select Country:</label>
    <select id="country" name="country_id">
        {% for country in countries %}
            <option value="{{ country.id }}">{{ country.name }}</option>
        {% endfor %}
    </select>
</div>

<button type="submit">Add City</button>

</form>

{% endblock %}