{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/show.css">

<div>
    <h1>{{city.name}}</h1>
    <hr>
    <h3>{{city.country.name}}</h3>
    <p>{{city.sight}}</p>
    <p>Have I been yet?:</p>
    {% if city.visited == True %}
    <p>Yes!</p>
    {% else %}
    <p>Not yet!</p>
    {% endif %}
    <div class="edit">
    <p><a class="btn" href="/cities/{{city.id}}/edit">Edit</a></p>
    </div>

{% if city.country.name == "Italy" %}
        <div class="img">
            <img src="/static/imgs/{{city.country.name}}/{{city.name}}.jpeg" width=400>
        </div>
{% elif city.country.name == "Canada" %}
        <div class="img">
            <img src="/static/imgs/canada.jpeg" width=400>
        </div>
{% elif city.country.name == "Portugal" %}
        <div class="img">
            <img src="/static/imgs/portgual1.webp" width=400>
        </div>
{% elif city.country.name == "Spain" %}
        <div class="img">
            <img src="/static/imgs/barca.jpeg" width=400>
        </div>
{% elif city.country.name == "Sweden" %}
        <div class="img">
            <img src="/static/imgs/stock.jpg" width=400>
        </div>
{% elif city.country.name == "Ireland" %}
        <div class="img">
            <img src="/static/imgs/ramelton.jpeg" width=400>
        </div>
{% elif city.country.name == "Morocco" %}
        <div class="img">
            <img src="/static/imgs/morocco.jpeg" width=400>
        </div>
{% elif city.country.name == "Japan" %}
        <div class="img">
            <img src="/static/imgs/japan.jpeg" width=400>
        </div>
{% elif city.country.name == "Slovenia" %}
        <div class="img">
            <img src="/static/imgs/SLOVENIA.jpeg" width=400>
        </div>
{% elif city.country.name == "Chile" %}
        <div class="img">
            <img src="/static/imgs/chile.jpeg" width=400>
        </div>
{% elif city.country.name == "Hungary" %}
        <div class="img">
            <img src="/static/imgs/buda.jpg" width=400>
        </div>
</div>
{% endif %}
{% endblock %}

