.homepage{
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 25px;
    display: grid;
}

.travel p a{
    color: #283845;
}

.btn{
    border-radius: 15px;
    background: #DCCCA3;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.btn:hover span {
    padding-right: 25px;
  }
  
.btn:hover span:after {
    opacity: 1;
    right: 0;
  }

.btn:hover{
    color: #141311;;
    background-color: #b69e61;
    transition: 0s 0s;
}


.container{
    display:inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:20px;
}

.travel{
    width:500px;
    text-align:center;
    align-items:center;
}
