h1{
    text-align: center;
    padding: 25px;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.edit p a{
    color: #283845;
}

.btn{
    border-radius: 15px;
    background-color: #DCCCA3;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn:hover{
        color: #141311;;
        background-color: #b69e61;
        transition: 0s 0s;
}

.input-field input{
    background: rgba(0,0,0,.1);
    color: white;
    margin-top: 10px;
}

::placeholder{
    color: #DCCCA3;
}

form {
    display: grid;
    grid-gap : 20px;
    text-align: center;
    width: 150px;
    position: relative;
    margin-left: 550px;

}