body {
    background-image: url(/static/imgs/ice-age.png);
    background-color: #141311;
    color:#FFF9FB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
  }

hr{
  width: 70%;
}

  h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0px;
    padding: 0px;
  }
  
  h1 {
    font-size: 1.8em;
    color:#FFF9FB;
    margin-bottom: 20px;
  }
  
  a, a:link, a:visited {
    color: #FFF9FB;
    text-decoration: none;
  }
  
  a:hover, a:active, a:focus {
    color:#D6BA73;
    margin-left: 2px;
  }
  
  nav {
    padding: 0px;
    margin: 0px;
    padding-right: 25px;
  }
  
  nav ul li {
    margin-top: -10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-top: 15px;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  
  main {
    padding: 25px;
  }
  
  
  