<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/static/imgs/travel.png"/>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title> {{ title }}Travel Bucket List</title>
    
</head>
<body>
    <header class="flex flex--row">
        <nav>
            <ul class="main-nav">
                <li><a href="/"><button class="btn-home"><i class="fa fa-home"></i></button></a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/cities/sights">Sights</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </nav>
    </header>

    <div id="content">
        {% block content %}
        {% endblock  %}
    </div>
</body>
</html>