{% extends "base.html" %}
{% block  content %}
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/header.css">
<link rel="stylesheet" href="/static/responsive.css">
<link rel="stylesheet" href="/static/index.css">

<section class="homepage">


<div class="container">

  <div class="travel">
    <p><img src="/static/imgs/sweden.jpg" width="250"></p>
    <p><a class="btn" href="/countries/visited">Countries I've Visited</a></p>
  </div>

  <div class="travel">
    <p><img src="/static/imgs/stockholm.jpg" width="250"></p>
    <p><a class="btn" href="/countries/tovisit">Countries I Need to Visit</a></p>
  </div>

  <div class="travel">
  <p><img src="/static/imgs/ams.jpg" width="250"></p>
  <p><a class="btn" href="/cities/visited">Cities I've Visited</a></p>
  </div>

  <div class="travel">
  <p><img src="/static/imgs/bratislava.jpg" width="250"></p>
  <p><a class="btn" href="/cities/tovisit">Cities I Need to Visit</a></p>
  </div>

  <div class="travel">
  <p><img src="/static/imgs/antwerp.jpg" width="250"></p>
<p><a class="btn" href="/cities/new">New City</a></p>
  </div>

  <div class="travel">
    <p><img src="/static/imgs/dunnet.jpeg" width="250"></p>
      <p><a class="btn" href="/countries/new">New Country</a></p>
  </div>

  </div>
</section>
{% endblock  %}