{% extends "base.html" %}
{% block  content %}
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/header.css">
<link rel="stylesheet" href="/static/responsive.css">
<link rel="stylesheet" href="/static/index.css">

<section class="homepage">

<h1>Travel Scrapbook</h1>
<hr>

<div class="container">

  <div class="travel">
    <p><img src="/static/imgs/sweden/Sweden.jpeg" width="350"></p>
    <p><a class="btn" href="/countries/visited">Countries I've Visited</a></p>
  </div>

  <div class="travel">
    <p><img src="/static/imgs/hungary/pest.jpeg" width="350"></p>
    <p><a class="btn" href="/countries/tovisit">Countries I Need to Visit</a></p>
  </div>

  <div class="travel">
  <p><img src="/static/imgs/netherlands/ams.jpg" width="350"></p>
  <p><a class="btn" href="/cities/visited">Cities I've Visited</a></p>
  </div>

  <div class="travel">
  <p><img src="/static/imgs/slovakia/Bratislava.jpeg" width="350"></p>
  <p><a class="btn" href="/cities/tovisit">Cities I Need to Visit</a></p>
  </div>

  <div class="travel">
  <p><img src="/static/imgs/belgium/Antwerp.jpeg" width="350"></p>
<p><a class="btn" href="/cities/new">New City</a></p>
  </div>

  <div class="travel">
    <p><img src="/static/imgs/dunnet.jpeg" width="350"></p>
      <p><a class="btn" href="/countries/new">New Country</a></p>
  </div>

  </div>
</section>
{% endblock  %}