{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/show.css">


<section class="search-bar">
    <div class="form-area">
        <h1>Find City or Country</h1>
        <hr>
    </div>
    <div class="search-wrap">
        <form class="search-form" action="#" method="POST">
            <div class="input-field">
                <input type="text" name="city" placeholder="City/Country...">
            </div>
        
            <div class="search-btn">
                <button class="btn" type="submit">Search</button>
            </div>
        </form>

        {% for city in cities %}
        <tr>
            <td>{{city.name}}</td>
        </tr>
        {% endfor %}
    </div>
</section>

{% endblock  %}